<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93181283010-hlcnpja4iqr5ekmfn78si1hi5ljhdhcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93181283010-hlcnpja4iqr5ekmfn78si1hi5ljhdhcd</string>
	<key>API_KEY</key>
	<string>AIzaSyD0P8QRUBPQpMz7vtRcs5w3iUwH1ZPFSB8</string>
	<key>GCM_SENDER_ID</key>
	<string>93181283010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artchemist.development.Navigation</string>
	<key>PROJECT_ID</key>
	<string>netology-homeworks</string>
	<key>STORAGE_BUCKET</key>
	<string>netology-homeworks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93181283010:ios:659aeb6ecda4318be1895b</string>
</dict>
</plist>